DATABASE_URL=postgresql://neondb_owner:npg_lh3Y@ep-dark-tree-aiuiuiy-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require

JWT_SECRET=qdu7cKBsy0s2nC7B0GPbhOeZeSxSFtmk9jpkXvk+fqk=