.PaymentContentContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
}

@media (max-width: 991.98px) {
    .PaymentContentContainer {
        grid-template-columns: 1fr;
    }
}