.titleWrapper {
  text-align: center;
}

.UnderlineTitle {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
}

.UnderlineTitle::after {
  content: "";
  position: absolute;
  left: 50%;                 /* move to center */
  transform: translateX(-50%); /* pull back half */
  bottom: -6px;
  width: 80%;
  height: 2px;
  background: rgb(67, 47, 255);
}